/*
#stripe-terminal-payment-data > .terminal-button button,
#stripe-terminal-payment-data > .terminal-button a.button{
	margin-right: 2px;
    background: #44c8ff;
    color: #fff;
    transition: all 0.2s;
    padding: 5px;
    border-radius: 4px;
    border: none;
	top: 0px;
}
*/